     </div>
    </div>
  </div>

  <footer class="footer navbar">
    <div class="container">
      <div class="col text-right text-muted text-small text-nowrap">
        <small>
          Powered by <a href="http://nginx.org">nginx</a>,
            <a href="https://github.com/aperezdc/ngx-fancyindex">fancyindex</a>
            and the <a href="https://github.com/alehaa/nginx-fancyindex-flat-theme">flat theme</a>.
        </small>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    breadcrumbs();
    styleList();
  </script>
</body>

</html>
