<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>File Browser</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/theme/theme.css">

  <script type="text/javascript" src="/theme/js/breadcrumbs.js"></script>
  <script type="text/javascript" src="/theme/js/list.js"></script>
</head>

<body>
  <div class="header">
    <nav class="navbar sticky-top container">
      <div class="navbar-brand">
        <i class="fa fa-fw fa-files-o" aria-hidden="true"></i>
        File Browser
      </div>
    </nav>
  </div>

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="breadcrumbs"/>
    </nav>

    <div class="row">
      <div class="col">
